/* Header styles */
.header {
  background-color: #172a8b;
  color: #c2c2cb;
  padding: 20px;
  text-align: center; 
}

.header h1 {
  margin: 0;
}

/* Nav styles */
.nav {
  margin-top: 20px; 
  text-align: center;
  background-color: #0b513c;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; 
}

.nav ul li {
  display: inline;
  margin-right: 10px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}
